<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>    
    
    

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color:white;">PokeDex!</a>
    </nav>


    <div class="container" id="main-container">
        <div class="row">
            <div class="col-md-6 col-xl-3" id="body-pokemon">

            </div>
        </div>
    </div>


<!-- Delete Modal -->
<div class="modal fade" id="DetalleModal" tabindex="-1" role="dialog" aria-labelledby="DetalleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="DetalleModalLabel">Detalle pokemon</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Informacion</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteEmployee(deleteEmployee!.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>

   
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $.get("http://localhost:8080/Pokemon/all/",function(data) {
            let result = data.results
            console.log(result);
            let datos_size = result.length
            let contenido =""
            for(let i=0;i<datos_size;i++){   
                let arrayUrl=(result[i].url).split("/");
                let id  =   (arrayUrl[arrayUrl.length - 2]) 

                contenido +=  ` <div class="card m-b-30">
                                    <div class="card-body row" >     
                                        <div class="col-6">
                                            <button type="button" class="btn btn-primary">
                                            <a><img src="${'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+id+'.png'}" alt="" class="img-fluid rounded-circle w-60" onclick='myFunction(${id})'><a></button>
                                        </div>
                                        <div class="col-12 card-title align-self-center mb-0">
                                                <h5>${id}</h5>
                                                <p class="m-0">${result[i].name}</p>
                                        </div>
                                    </div>
                                </div>`              
            }
            $("#body-pokemon").html(contenido);
        }
    )

});

function myFunction(id) {
    var url = "http://localhost:8080/Pokemon/all/";
    var idPokemon = id;
    var res = url.concat(idPokemon);
    console.log(res);
    $.get(res,function(data) {
            let result = data.results
            console.log(result);
        }

    )

    $('#DetalleModal').modal()
}







    
</script>
</html>